$app-grey-00: #000000;
//主要用于主要信息的文字（一级标题、一级正文等）
//具体如下：
//·次级按钮的文字
//·信息录入的标题（Label）
//·输入框中已输入文字
//·输入框中前/后缀文字
//·选择框中已选择的文字
//·选择框的下拉选项中有效选项文字（Select、DataPicker、TimePicker、Transfer、Dropdown等）
//·单选/复选框的选项文字
//·消息提示框Alert/Toast中的标题文字
//·穿梭框的标题
//·弹出框的标题，文字（无标题时）
//·步骤条的已完成步骤、正在进行的步骤
//·标签文字
//·树形控件的文字
//·面包屑的当前页面
//·选项卡的未选有效文字，或某些类型下的已选中文字
//·数据表格的数据内容
//·分页器中的每页显示条数及当前页码
$app-grey-33: #333333;
//主要用于次级信息的文字（二级标题、二级正文等），目的为了与一级文字区分信息层级
//具体如下：
//·警告框/提示框（Alert/Toast）有标题情况下的正文
//·弹出框的有标题情况下的正文
//·表单的二级标题
//·数据表格的表头文字
//·分页器的提示文字
//·Tooltip的背景底色
$app-grey-66: #666666;
// 文字部分：
//主要用于三级信息的文字（三级标题、三级正文等），目的为了与一级文字、二级文字区分信息层级
//具体如下：
//·面包屑中非当前页面的文字
//icon部分：
//绝大多数icon的normal状态填充色
$app-grey-99: #999999;
// 文字部分：
//主要用于提示性文字、文字无效状态等
//·无效按钮的文字
//·输入框的输入前提示文字（Placeholder）
//·输入框无效状态以后的文字（前缀、后缀、已输入文字等）
//·选择框无效状态以后的文字
//·选择框的选项列表中失效选项的文字（Select、DataPicker、TimePicker、Transfer、Dropdown等）
//·单选框/复选框失效状态的文字
//·提示框（Toast）中自动倒计时文字
//·步骤条中未进行的步骤文字
//·上传文件/图片时的提示文字
//·选项卡失效状态中的文字
//icon部分：
//·所有失效icon的填充色
$app-grey-bb: #BBBBBB;
// 主要用于边框、分割线（绝大部分）
//具体如下：
//·按钮边框
//·输入框边框
//·选择框边框（Select、Datapicker、TimePicker、Transfer等）
//·单选框、多选框icon，Normal状态下的边框
//·弹出框的边框
//·级联选择框下拉选项中的层级之间的分割线
//·数据表格中表头与表内容间的分割线
//·表单中各个信息块之间的分割线
$app-grey-dd: #DDDDDD;
// 主要用于页面背景底色、无效状态的填充色、Hover背景填充色
//具体如下：
//·整体页面的最底部背景色
//·警告框/提示框（Alert/Toast）灰色的消息提示类型的背景底色
//·按钮失效状态的填充色
//·输入框失效状态的填充色
//·选择框失效状态的填充色
//·分页器中翻页功能的失效状态的填充色
//·单选框、多选框失效状态的填充色
//·输入框的前后缀部分的填充色
//·计数器的加减部分的填充色
//·标签的背景填充色
//·进度条的背景填充色
$app-grey-f2: #F2F2F2;
// 主要用于数据列表内容区域的“斑马线”中暗色部分
$app-grey-fa: #FAFAFA;
// 主要用于深色背景上的文字或icon
$app-grey-ff: #FFFFFF;

// 功能色
$app-primary-color: #047AFF; // 主要深色
$app-primary-light: #E5F1FF; // 主要浅色
$app-success-color: #00D38D; // 成功深色
$app-success-light: #E6FBF4; // 成功浅色
$app-warning-color: #FFBA00; // 警告深色
$app-warning-light: #FFF8E5; // 警告浅色
$app-danger-color: #FE694A; // 危险深色
$app-danger-light: #FFF0ED; // 危险浅色
