@import './variables';

$funtion-map: (
    primary: $app-primary-color,
    primary-light: $app-primary-light,
    success: $app-success-color,
    success-light: $app-success-light,
    warning: $app-warning-color,
    warning-light: $app-warning-light,
    danger: $app-danger-color,
    danger-light: $app-danger-light
);

.color {
    @each $name, $value in $funtion-map {
        &-#{$name} {
            color: $value !important;
        }
    }
}

.bg {
    @each $name, $value in $funtion-map {
        &-#{$name} {
            background-color: $value !important;
        }
    }
}
