.grey00 {
  color: #000000;
}
.grey33 {
  color: #333333;
}
.grey66 {
  color: #666666;
}
.grey99 {
  color: #999999;
}
.greybb {
  color: #BBBBBB;
}
.greydd {
  color: #DDDDDD;
}
.greyf2 {
  color: #F2F2F2;
}
.greyfa {
  color: #FAFAFA;
}
.greyff {
  color: #FFFFFF;
}