.mt0 {
  margin-top: 0px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt28 {
  margin-top: 28px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mt36 {
  margin-top: 36px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mr28 {
  margin-right: 28px !important;
}

.mr32 {
  margin-right: 32px !important;
}

.mr36 {
  margin-right: 36px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb28 {
  margin-bottom: 28px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mb36 {
  margin-bottom: 36px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml24 {
  margin-left: 24px !important;
}

.ml28 {
  margin-left: 28px !important;
}

.ml32 {
  margin-left: 32px !important;
}

.ml36 {
  margin-left: 36px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mx4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.mx8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.mx16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mx24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.mx32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}

.mx40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.my4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.my8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.my16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.my32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.my40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.ma0 {
  margin: 0px !important;
}

.ma4 {
  margin: 4px !important;
}

.ma8 {
  margin: 8px !important;
}

.ma12 {
  margin: 12px !important;
}

.ma16 {
  margin: 16px !important;
}

.ma20 {
  margin: 20px !important;
}

.ma24 {
  margin: 24px !important;
}

.ma28 {
  margin: 28px !important;
}

.ma32 {
  margin: 32px !important;
}

.ma36 {
  margin: 36px !important;
}

.ma40 {
  margin: 40px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pt28 {
  padding-top: 28px !important;
}

.pt32 {
  padding-top: 32px !important;
}

.pt36 {
  padding-top: 36px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pr28 {
  padding-right: 28px !important;
}

.pr32 {
  padding-right: 32px !important;
}

.pr36 {
  padding-right: 36px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb24 {
  padding-bottom: 24px !important;
}

.pb28 {
  padding-bottom: 28px !important;
}

.pb32 {
  padding-bottom: 32px !important;
}

.pb36 {
  padding-bottom: 36px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.pl16 {
  padding-left: 16px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.pl28 {
  padding-left: 28px !important;
}

.pl32 {
  padding-left: 32px !important;
}

.pl36 {
  padding-left: 36px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.px4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.px8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.px16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.px32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.px40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.py4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.py8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.py32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pa0 {
  padding: 0px !important;
}

.pa4 {
  padding: 4px !important;
}

.pa8 {
  padding: 8px !important;
}

.pa12 {
  padding: 12px !important;
}

.pa16 {
  padding: 16px !important;
}

.pa20 {
  padding: 20px !important;
}

.pa24 {
  padding: 24px !important;
}

.pa28 {
  padding: 28px !important;
}

.pa32 {
  padding: 32px !important;
}

.pa36 {
  padding: 36px !important;
}

.pa40 {
  padding: 40px !important;
}